$system-fonts: 'Open Sans', sans-serif;
$body-background-color: $white;
$body-font-size: 1rem;

body {
  background: $body-background-color;
  color: $black;
  font-family: $system-fonts;
  font-size: $body-font-size;
  font-weight: 400;
  line-height: 1.5;
}
