@import '~styles/settings/global';
@import '~styles/settings/colors';

.button {
  background: $green;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 0.4em $light-green;
  color: $white;
  font-size: 1rem;
  padding: 0.8em;
  text-shadow: 1px 1px $light-green;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background: $green;
  box-shadow: 0 0.3em $light-green;
  transform: translateY(0.1em);
}

.secondaryButton {
  background: $orange;
  box-shadow: 0 0.4em $dark-orange;
  text-shadow: 1px 1px $dark-orange;
}

.secondaryButton:hover {
  background: $orange;
  box-shadow: 0 0.3em $dark-orange;
}
