@import '~styles/settings/global';
@import '~styles/settings/colors';
@import '~styles/tools/mixins/all';

$nav-item-featured-color: #fdd030;
$nav-item-color-hover: #a3a3a3;
$nav-item-size: 0.875em;

.navItem {
  padding-left: 0;
}

.navItem + .navItem {
  margin: 1em 0;

  @include respond-to(large) {
    margin: 0;
  }
}

.navLink {
  font-size: $nav-item-size;
  font-weight: bold;
  letter-spacing: 0.0625em;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover:not(.navLinkFeatured) {
    color: $nav-item-color-hover;
  }
}

.navLinkFeatured {
  color: $nav-item-featured-color;
}
